name: build-and-deploy-openshift

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Quarkus app
        run: |
          chmod +x mvnw
          ./mvnw clean package -DskipTests
      - name: Docker Hub login
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin


      - name: Build and push image
        run:  |
          docker build -f src/main/docker/Dockerfile.jvm \
            -t ahmadsch/quarkus-app:latest .
          docker push ahmadsch/quarkus-app:latest

      - name: Install OpenShift CLI
        run: |
          curl -LO https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable/openshift-client-linux.tar.gz
          tar -xzf openshift-client-linux.tar.gz
          sudo mv oc /usr/local/bin/
          oc version

      - name: Login OpenShift
        run: |
          oc login \
            --token=${{ secrets.OPENSHIFT_TOKEN }} \
            --server=https://api.rm2.thpm.p1.openshiftapps.com:6443

      - name: Select project
        run: |
          oc project schurbaji-ahmad-dev

      - name: Deploy to OpenShift
        run: |
          oc apply -f k8s/deployment.yaml
          oc apply -f k8s/service.yaml
          oc apply -f k8s/route.yaml

      - name: Get App URL
        run: |
          oc get route quarkus-app
