name: build-and-deploy-openshift

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and push image
        run: |
          docker build -t ahmadsch/spring-app:latest .
          docker push ahmadsch/spring-app:latest

      - name: Login OpenShift
        run: |
          oc login \
            --token=${{ secrets.OPENSHIFT_TOKEN }} \
            --server=https://api.rm2.thpm.p1.openshiftapps.com:6443

      - name: Select project
        run: |
          oc new-project demo || oc project demo

      - name: Deploy to OpenShift
        run: |
          oc apply -f k8s/deployment.yaml
          oc apply -f k8s/service.yaml
          oc apply -f k8s/route.yaml

      - name: Get App URL
        run: |
          oc get route spring-app
