name: build-and-deploy-openshift

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install IBM Cloud CLI
        run: |
          curl -fsSL https://clis.cloud.ibm.com/install/linux | sh

      - name: Login IBM Cloud
        run: |
          ibmcloud login --apikey ${{ secrets.IBM_CLOUD_API_KEY }} -r eu-de
          ibmcloud cr region-set eu-de
      - name: Login Container Registry
        run: |
          ibmcloud cr login

      - name: Build and push image
        run: |
          docker build -t icr.io/demo/spring-app:latest .
          docker push icr.io/demo/spring-app:latest

      - name: Login OpenShift
        run: |
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=https://api.rm2.thpm.p1.openshiftapps.com:6443

      - name: Deploy to OpenShift
        run: |
          oc apply -f k8s/deployment.yaml
          oc apply -f k8s/service.yaml
          oc apply -f k8s/route.yaml

      - name: Get App URL
        run: |
          oc get route spring-app
